:root {
    --black: black;
    --white: rgba(255, 255, 255, 0.566);
}

* {
   margin: 0px;
}

body {
    background-color: gray;
    margin-bottom: 0px;
}

/* Header */

header {
    display: block;
    background: linear-gradient(45deg, black, gray);
    height: 200px;
    margin: 0px 0px 150px;
    width: 100%;
}

header h1 {
    color: var(--white);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 55px;
    line-height: 180px;
    margin-left: 20px;
}

header nav{
    margin-top: -90px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    font-weight: bold;
}

header li {
    list-style-type: none;
    justify-content: space-around;
    float: right;
    margin: -2px 5px;
    margin-right: 10px;
    border-right-style: groove;
    border-width: 0px 5px;
    padding: 10px;
    height: 5px;
    line-height: 5px;
}

/* About Me */

.aboutMe {
    display: flex;
    margin: 180px auto;
    max-width: 2025px;
    height: 700px;
}

.aboutMePic {
    border: 20px solid black;
    margin-right: 25px;
    width: 30%;
}

.aboutMeParagraph {
    border: 20px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    background-color: white;
    padding: 15px;
}

.aboutMeParagraph h2 {
    text-align: center;
}

/* Main Project */

.projects {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    max-width: 2200px;
}

.projects h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    margin-bottom: 2%;
    font-weight: bold;
    text-align: center;
}

.mainProject {
    display: block;
    border: 20px solid black;
    margin: 0px auto;
    height: 100%;
    width: 90%;
}

.mainProject img {
    margin: 0 auto;
    width: 100%;
    height: 80%;
    z-index: 1;
}

.mainProject h3 {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 50px;
    line-height: 200px;
    z-index: 2;
    height: 300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Other Projects */

.otherProjects {
    margin: 50px auto 900px;
    max-width: 2200px;
    max-height: 700px;
    display: flex;
    flex-direction: column;
}

.otherProjects h2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
}

.otherProjects ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 2075px;
}

.otherProjects li {
    border: 20px solid black;
    list-style-type: none;
    width: 46%;
    margin-top: 25px;
    margin-right: 1.5%;
    height: 700px;
    background-color: black;
}

.otherProjects li img {
    width: 100%;
    height: 80%;
    z-index: 1;
}

.otherProjects li h3 {
    z-index: 2;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    text-align: center;
    background-color: black;
    margin-top: 25px;
}

/* Contact */

.contact {
    height: 300px;
    max-width: 2000px;
    margin: 100px auto;
    background-color: white;
    border: 25px solid black
}

.contact h2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
}

.contact ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    height: 200px;
    margin-top: 20px;
}

.contact ul li {
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 50px;
}

/* Footer */

footer {
    display: block;
    margin: 50px auto 0px;
    height: 200px;
    width: 100%;
    background: linear-gradient(45deg, black, gray);
}

footer h5 {
    color: white;
    text-align: center;
    font-size: 35px;
    line-height: 150px;
}

@media screen and (max-width: 2000px) {
    .aboutMe {
        display: flex;
        margin: 180px auto;
        max-width: 1500px;
        height: 700px;
    }
    .contact {
        height: 300px;
        max-width: 1500px;
        margin: 100px auto;
        background-color: white;
        border: 25px solid black
    }
    .otherProjects {
        margin: 50px auto 500px;
        max-width: 2000px;
        max-height: 700px;
        display: flex;
        flex-direction: column;
    }
    .otherProjects li {
        border: 20px solid black;
        list-style-type: none;
        width: 40%;
        margin-top: 25px;
        margin-right: 1.5%;
        height: 500px;
        background-color: black;
    }

    .projects {
        display: flex;
        flex-direction: column;
        margin: 0px auto;
        max-width: 2000px;
    }
    .mainProject {
        display: block;
        border: 20px solid black;
        margin: 0px auto;
        height: 90%;
        width: 87%;
    }
}

@media screen and (max-width: 1500px) {
    .aboutMe {
        display: flex;
        margin: 180px auto;
        max-width: 1500px;
        height: 700px;
    }
    .aboutMeParagraph {
        border: 20px solid black;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 26px;
        background-color: white;
        padding: 15px;
    }
    .contact {
        height: 300px;
        max-width: 1500px;
        margin: 100px auto;
        background-color: white;
        border: 25px solid black
    }
    .contact ul li {
        font-size: 30px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 50px;
    }
    .otherProjects {
        margin: 50px auto 500px;
        max-width: 2000px;
        max-height: 700px;
        display: flex;
        flex-direction: column;
    }
    .otherProjects li {
        border: 20px solid black;
        list-style-type: none;
        width: 40%;
        margin-top: 25px;
        margin-right: 1.5%;
        height: 500px;
        background-color: black;
    }

    .projects {
        display: flex;
        flex-direction: column;
        margin: 0px auto;
        max-width: 2000px;
    }
    .mainProject {
        display: block;
        border: 20px solid black;
        margin: 0px auto;
        height: 90%;
        width: 87%;
    }
    header {
        display: block;
        background: linear-gradient(45deg, black, gray);
        height: 200px;
        margin: 0px 0px 150px;
        width: 100%;
    }
    
    header h1 {
        color: var(--white);
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 35px;
        line-height: 160px;
        margin-left: 20px;
    }
    
    header nav{
        margin-top: -90px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 35px;
        font-weight: bold;
    }
    
    header li {
        list-style-type: none;
        justify-content: space-around;
        float: right;
        margin: -2px 5px;
        margin-right: 10px;
        border-right-style: groove;
        border-width: 0px 5px;
        padding: 10px;
        height: 5px;
        line-height: 5px;
    }
}

@media screen and (max-width: 900px) {
    .aboutMe {
        max-width: 1000px;
    }
    .aboutMeParagraph {
        font-size: 24px;
    }
    .contact {
        height: 200px;
    }
    .contact ul li {
        font-size: 25px;
    }
    .otherProjects {
        margin: 50px auto 1700px;
        max-width: 2000px;
        max-height: 700px;
        display: flex;
        flex-direction: column;
    }
    .otherProjects ul {
        display: block;
        justify-content: space-around;
        margin: 0 auto;
        max-width: 2075px;
    }
    .otherProjects li {
        display:block;
        border: 20px solid black;
        list-style-type: none;
        width: 90%;
        margin-top: 25px;
        margin-right: 1.5%;
        height: 500px;
        background-color: black;
    }

    .projects {
        display: flex;
        flex-direction: column;
        margin: 0px auto;
        max-width: 2000px;
    }
    .mainProject {
        display:block;
        border: 20px solid black;
        list-style-type: none;
        width: 85%;
        margin-top: 25px;
        margin-right: 4.5%;
        height: 500px;
        background-color: black;
    }
    .mainProject h3 {
        text-align: center;
        background-color: black;
        color: white;
        font-size: 27px;
        margin: 0 auto;
        line-height: 100px;
        width: 83%;
        z-index: 2;
        height: 100px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    header {
        display: block;
        background: linear-gradient(45deg, black, gray);
        height: 200px;
        margin: 0px 0px 150px;
        width: 100%;
    }
    
    header h1 {
        color: var(--white);
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 35px;
        line-height: 160px;
        margin-left: 20px;
    }
    
    header nav{
        margin-top: -90px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 35px;
        font-weight: bold;
    }
    
    header li {
        list-style-type: none;
        justify-content: space-around;
        float: right;
        margin: -2px 5px;
        margin-right: 10px;
        border-right-style: groove;
        border-width: 0px 5px;
        padding: 10px;
        height: 5px;
        line-height: 5px;
    }
}

@media screen and (max-width: 390px) {
    .aboutMe {
        max-width: 1000px;
        margin-left: 50px;
        height: 300px;
    }
    .aboutMeParagraph {
        font-size: 7px;
    }
    .contact {
        height: 200px;
        width: 300px;
        margin-left: 50px;
    }
    .contact ul li {
        font-size: 8px;
        margin-right: 25px;
    }
    .otherProjects {
        margin: 50px auto 1700px;
        max-width: 2000px;
        max-height: 700px;
        display: flex;
        flex-direction: column;
    }
    .otherProjects ul {
        display: block;
        justify-content: space-around;
        margin: 0 auto;
        max-width: 2075px;
    }
    .otherProjects li {
        display:block;
        border: 20px solid black;
        list-style-type: none;
        width: 78%;
        margin-top: 25px;
        margin-right: 1.5%;
        margin-left: 20px;
        height: 500px;
        background-color: black;
    }

    .projects {
        display: flex;
        flex-direction: column;
        margin: 0px auto;
        max-width: 2000px;
    }
    .mainProject {
        display:block;
        border: 20px solid black;
        list-style-type: none;
        width: 70%;
        margin-top: 25px;
        margin-right: 4.5%;
        height: 500px;
        background-color: black;
    }
    .mainProject h3 {
        text-align: center;
        background-color: black;
        color: white;
        font-size: 20px;
        margin: 0 auto;
        line-height: 100px;
        width: 83%;
        z-index: 2;
        height: 100px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    header {
        display: block;
        background: linear-gradient(45deg, black, gray);
        height: 100px;
        margin: 0px 0px 150px 10px;
        width: 110%;
    }
    
    header h1 {
        color: var(--white);
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 10px;
        line-height: 160px;
        margin-left: 50px;
    }
    
    header nav{
        margin-top: -90px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 10px;
        font-weight: bold;
    }
    
    header li {
        list-style-type: none;
        justify-content: space-around;
        float: right;
        margin: -2px 5px;
        margin-right: 10px;
        border-right-style: groove;
        border-width: 0px 5px;
        padding: 10px;
        height: 5px;
        line-height: 5px;
    }
    footer {
        display: block;
        margin: 50px auto 0px 25px;
        height: 200px;
        width: 400px;
        background: linear-gradient(45deg, black, gray);
    }
    
    footer h5 {
        color: white;
        text-align: center;
        font-size: 15px;
        line-height: 150px;
    }
    
}